/*CSS Reset */
body{
	margin: 0px ;
	padding: 0px ;
	background: url('../project_content/abs-1850926_1920.jpg');
		color: white ;
}

/*header's left */
.left{
     /*border: 2px solid red; */
    
     display: inline-block;
     position: absolute;
     left: 60px ;
     top: 20px ;
}
.left img{
	width: 44px ;
	filter: invert(100%);
	margin-left: 27px ;
}
.left div{
	text-align: center;
	font-size: 15px ;
}
/*header's mid */
.mid  {
		
	/*border: 2px solid green ;*/
       display: block;
       width: 45% ;
       margin: 29px auto ;
}
/*header's right */
.right {
	
/*border: 2px solid yellow;*/
   display: inline-block;
   position: absolute;
   right: 34px ;
   top: 33px ;

}
.btn{
	margin: 9px 10px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
	/*font-family: 'Baloo Bhai', cursive;*/
}
.btn:hover{
	background-color: grey ;
}

.navbar{
	display: inline-block;
}
.navbar li {
	display: inline-block;
	font-size: 18px ;

}
.navbar li a{
	color: white; 
	text-decoration: none;
	padding: 34px 23px ;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey  ;

}

.container{
	border: 3px solid white ;
	margin:9px 93px;
	padding: 29px 44px;
	width: 35% ;
	border-radius: 10px ;
}

.form-group input{
  text-align: center;
    display: block;
    width: 200px;
    padding: 9px;
    border: 2px solid black;
    margin: 17px auto;
   
}
.container h1 {
	text-align: center;
}
.container button{
	display: block;
	width:23% ;
	margin: auto; 
}